@import url("https://fonts.googleapis.com/css?family=Leckerli+One");
@import url("https://fonts.googleapis.com/css?family=Quicksand");
@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";
// 1. Set your own initial variables and derived 
//    variables in _variables.scss
@import "variables";

// 2. Setup your Custom Colors
// style="background: -moz-linear-gradient(45deg, #fd8686 0%, #ff5f5f 100%);
// background: linear-gradient(45deg, #f78961 0%, #ff5f5f 100%);"

$primary: #ff5f5f;
$primary-invert: findColorInvert($primary);
$info: #579fbf;
$info-invert: findColorInvert($info);
$linkedin: #0077b5;
$linkedin-invert: findColorInvert($linkedin);
$twitter: #55acee;
$twitter-invert: findColorInvert($twitter);
$github: #25292e;
$github-invert: findColorInvert($github);
$medium: #03a87c;
$medium-invert: findColorInvert($medium);
$instagram: #D93177;
$instagram-invert: findColorInvert($instagram);


@import "~bulma/sass/utilities/derived-variables";

// 3. Add new color variables to the color map.
$addColors: (
  "twitter":($twitter, $twitter-invert),
  "linkedin": ($linkedin, $linkedin-invert),
  "github": ($github, $github-invert),
);
$colors: map-merge($colors, $addColors);
$navbar-height: 5rem;

@import "~bulma";
@import "~buefy/src/scss/buefy";

// 4. Provide custom buefy overrides and site styles here
// util
$spaceamounts: (0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 75, 100);
$sides: (top, bottom, left, right);

@each $space in $spaceamounts {
  @each $side in $sides {
    .m-#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }
    .p-#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
  }
}

.is-bg-twitter {
  background: $twitter;
}
.is-bg-github {
  background: $github;
}
.is-bg-medium {
  background: $medium;
}
.is-bg-instagram {
  background: $instagram;
}
.is-bg-lightbule {
  background: #f8f9fb;
}

.button {
  &.is-circle {
    border-radius: 10rem;
    width: 2.25em;
    height: 2.25em;
  }
}

.is-text-font-quicksand {
  font-family: 'Quicksand', sans-serif;
}

.font-leckerli-one {
  font-family: 'Leckerli One', cursive;
}

.is-underline {
  position: relative;
  margin-bottom: 3rem !important;

  &:before {
    content: '';
    position: absolute;
    bottom: -15px;
    display: inline-block;
    width: 60px;
    height: 5px;
    left: 50%;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: $dark;
    border-radius: 2px;
  }

  &.is-white:before {
    background-color: $white;
  }
}

.navbar {
  &.is-fixed-top.is-fadein {
    animation:navbarShow 1s both;

    & + section {
      margin-top: 5rem;
    }
  }
}

.is-clipped {
  overflow: hidden!important;
}


@keyframes navbarShow {
	0% {
		transform:translate(0, -10rem);
		opacity:0;
	}
	100% {
		transform:translate(0, 0);
		opacity:1;
	}
}


@media screen and (max-width: 1087px) {
  .navbar-burger span:nth-child(1) {
    top: calc(50% - 7px);
  }
  .navbar-burger span:nth-child(3) {
    top: calc(50% + 6px);
  }
  .navbar-menu {
    background-color: $primary;
    color: $white;

    .navbar-item, .navbar-link {
      color: $white;
    }
    a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:hover, .navbar-link.is-active {
      background-color: #ff4646;
      color: $white;
    }
  }
}